/* Reset styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}
a:focus,
a:active {
  color: currentColor;
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* h1 {
  font-size: 14px;
} */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
/* Root styles */
:root {
  font-family: Inter, sans-serif;
  font-size: 10px;
  line-height: 24px;
  font-weight: 500;

  color: #1c1d20;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-family: Inter, sans-serif;
  --main-color: #000000;

  --hard-black-color: #1c1d20;
  --medium-black-color: #242527;
  --light-black-color: #3b3b3b;
  --white-color: #fafafa;

  --animation-hover: 250ms ease-in;
}
/* container */
.container {
  padding: 0px 16px;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (max-width: 374.98px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
/* ====================================== header ====================================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: white;
}
.top-line {
  padding: 16px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header__wrapper {
  margin-top: 15px;
}
.navigation-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navigation-header,
/* .address-navigation-wrapper, */
.navigation-links,
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-links li,
.address li {
  margin: 5px 0;
}
.header__logo {
  cursor: pointer;
  display: flex;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  gap: 50px;
}
.span-header {
  display: flex;
  flex-direction: column;
}
.logo-text {
  text-transform: uppercase;
}
.header-menu-burger {
  border-radius: 15px;
  background-color: transparent;
  display: block;
}

.address-navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.address {
  display: flex;
  flex-direction: row;
}
.navigation-links {
  background-color: #fbd341;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  color: #000000;
  font-weight: 700;
  padding: 8px;
  border-radius: 5px;
}
.innerNav {
  position: absolute;
  list-style: none;
  top: 38px;
  left: -40px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 3s;
  transition-timing-function: cubic-bezier(0.34, 1.12, 0.78, -0.56);
}
@media screen and (min-width: 768px) {
  .navigation-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 0; /* Reset margin for larger screens */
  }
  .header-menu-burger {
    display: none;
  }
  .navigation-links {
    flex-direction: row;
    gap: 15px;
  }

  .address-navigation-wrapper {
    flex-direction: row;
    justify-content: space-between;
    display: block;
  }

  .address {
    flex-direction: row;
  }
}

/* hero */
.btn-h1-section-hero {
  color: #ffffff;
  background-color: rgba(217, 217, 217, 1);
  position: absolute;
  /* top: 67%;
    left: 25%; */
  transform: translate(-50%, -50%);
  width: -webkit-fill-available;
  width: max-content;

  margin-left: 44px;
  font-size: 6px;
  padding: 20px;
  left: 29%;
  top: 173px;
}
.btn-section-hero {
  width: auto; /* Reset button width */
  padding: 10px 20px; /* Adjust button padding for larger screens */
}

h1 {
  font-size: 36px; /* Larger font size for larger screens */
}
.h2-section-hero {
  margin-bottom: 40px;
  font-size: 15px;
}
.header-actions {
  display: none;
}
.section-hero {
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  /* padding: 20px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  background-color: #f5f5f5;
}
.section-hero img {
  transition: opacity 1s ease-in-out;
  /* position: absolute; */
  width: 100%;
  height: auto;
}
#btn-img {
  position: sticky;
  transform: translate(10%, -117%);
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

#btn-img svg {
  width: 24px; /* Adjust based on your icon size */
  height: 24px;
}

.btn-h1-section-hero {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Example: slightly less transparent */
  transform: translate(0%, -194%);
  width: 690px;
  padding: 37px;
}

.btn-section-hero {
  background-color: #fbd341;
  color: #000000;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  width: 145px;
  font-size: 10px;
}

@media screen and (min-width: 375px) {
  .navigation-links {
    flex-direction: row;
    gap: 10px; /* Slightly more space between links for better readability */
  }

  .address {
    flex-direction: row;
    gap: 10px; /* Align address items horizontally with some gap */
  }
  .address ul {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if there's not enough space */
    justify-content: center; /* Centers items horizontally */
    gap: 10px; /* Adds some space between items */
    list-style: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
  }
  .address-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
  }
  .section-hero {
    padding: 30px; /* Slightly more padding for a bit larger screens */
  }

  h1 {
    font-size: 28px; /* Slightly larger font size for better readability */
  }
}
/* section-about-tours */
.menu-section-about-tours {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 70px;
}
.list-items-section-about-tours:hover {
  color: #fbd341;
}
.wrapper-section-about-tours {
  display: flex;
  flex-direction: column;
}
.slider-section-about-tours {
  display: flex;
  flex-direction: column;
  background-color: #f8f7f7;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 15px;
}
.info-for-tour-section-about-tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
.paragraph-section-about-tours {
  margin: 0 auto;
  color: #3b3b3b;
}
.btn-paragraph-section-about-tours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-section-about-tours {
  background-color: #fbd341;
  width: 37px;
  height: 37px;
  border-radius: 20px;
}
@media screen and (min-width: 1440px) {
  .wrapper-section-about-tours {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
}
/* section-benefits */
.div-section-benefits {
  background-color: #f8f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.our-benefits-section-benefits {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .wrapper-section-benefits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .wrapper-section-benefits img {
    width: 458px;
    height: 316px;
    margin-right: 15px;
  }
  .our-benefits-section-benefits {
    margin-bottom: 30px;
  }
}
/* section-feedback */
.wrapper-section-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-image-container {
  position: relative; /* Даємо можливість абсолютно позиціонувати елементи всередині */
  background-image: url('./images/footer.png');
  background-size: cover;
  background-position: center;
  height: 400px; /* Встановлюємо висоту, достатню для відображення зображення */
  width: 100%;
}

.paragraph-section-feedback {
  text-transform: uppercase;
}
/* .form-container {
  background-size: cover;
} */
.feedback-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background-color: rgba(14, 13, 13, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.feedback-form input {
  background-color: inherit;
  border: none;
}
.feedback-form select {
  background-color: inherit;
  color: #ffffff;
  border: none;
}
.btn-form-section-feedback {
  background-color: #fbd341;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .feedback-form {
    display: flex;
    flex-direction: row;
  }
  .btn-form-section-feedback {
    width: 150px;
    height: 48px;
  }
}
/* footer */
.wrapper-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #22334d;
  color: #ffffff;
}
.smile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-wrapper-footer {
  display: flex;
  flex-direction: column;
}
.img-footer {
  width: 120px;
}
.span-footer {
  text-transform: uppercase;
}
.paragraph-footer {
  display: none;
}
.kurazh-agency {
  display: none;
}
.nav-footer {
  display: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0.8;
}
.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 239px;
  height: 253px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(51, 151, 230, 0.8); /* Semi-transparent blue */
}
.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content ul li {
  padding: 8px 16px;
  cursor: pointer;
}

.modal-content ul li:last-child {
  border-bottom: none;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .wrapper-footer {
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .img-paragraph {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .paragraph-footer {
    display: flex;
    flex-direction: column;
  }
  .kurazh-agency {
    display: block;
  }
  .nav-footer {
    display: block;
  }
  .modal {
    display: block;
  }
  #navigationModal {
    display: none;
  }
}
/* Modal for footer */
/* .wrapper-footer {
  position: relative;
} */
#navigationModal,
#supportModal,
#contactsModal {
  position: relative;
}
